#estilo1, #estilo3 {color:rgb(17, 17, 17);
    background:#FFBF00;
    width: 20%;
    height: 150px;
    display: block;
  
    padding:5px;
    margin: 10px;
    box-sizing: border-box;
    
    }
#estilo2{color:rgb(7, 7, 7);
background:rgb(82, 82, 83);
width: 20%;
height: 150px;
display: block;
padding: 5px;
margin: 10px;
box-sizing: border-box;
color: #ffffff;
}